.head-container a:visited,
.head-container a {
  color: var(--link, #d00000);
}

.integration-notes h3 {
  font-size: 1.75em;
}

.dcf-notice {
  margin-top: 1em;
}

.unl_sitemaster_panel {
  border-style: solid;
  border-width: 1px;
  border-color: var(--b);
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: var(--bg-dialog);
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2em;
  justify-content: center;
  align-items: center;
}